<div class="flex-col">
  <h1 class="my-2 text-blue-500">Receipt Editor</h1>
  <h2><%= @receipt.business_name %></h2>
  <ul>
    <li><%= @receipt.user %></li>
    <li><%= @receipt.url %></li>
    <li><%= @receipt.upload_date %></li>
  </ul>
</div>  
